 
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Project</title>
</head>
<body>
    <h1>Update Project</h1>
<form id="updateForm" th:action="@{/projects/updated}"method="post">
    <label for="id">Project ID:</label>
    <input type="text" id="id" name="id"required >
    <br>
    <label for="name">Project Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
           <input type="submit" value="update">

   

</body>
</html>